@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');

html {
    box-sizing: border-box;
    max-width: 1366px;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #FFFCF6;   
}

#hamburger-menu{
  display: none;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 22px;
    font-family: 'Pavanam', sans-serif;
    color: #575757;
    font-weight: 400;
    letter-spacing: 0.25em;
}

.nav-list a:hover{
color: #575757;
background-color: #F2BB4F;

}

.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2.0em;  
}

.nav-logo{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.nav-logo #logo{
  font-family: 'Lavishly Yours', cursive;
  font-weight: 400;
  font-size: 40px;
}
.nav-name{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.nav-list a{
    text-decoration: none;
    color: black;
}

.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;
}


.intro-text{
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   letter-spacing: 0.625em;
}

.intro-text h1{
   font-size: 50px;
   color: #575757;
}

h1 span{
  font-size: 50px;
  color: #717070;
}

.intro-text h2{
   font-size: 36px;
   color: #F2BB4F; 
}

.intro-text p{
   font-family: 'Pavanam', sans-serif;
   font-weight: 400;
   letter-spacing: 0.25em;
   max-width: 600px;
   padding-bottom: 50px;
   font-size: 30px;
   color: #575757;
}

#projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 90px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #575757;
}

#projects h2{
  font-size: 40px;
  letter-spacing: 0.125em;
  color: #198594;
  font-weight: 500;
}

.project-container {
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
    max-width:1126px;
    margin:0 auto; 
    gap: 50px;
  }
  
  .project {
    flex:0 0 25%;
    padding: 10px;
    max-width: 1126px;
    height: 500px;
    text-align: center;
    letter-spacing: 0.25em;
    font-weight: 500;
  }

  .demo{
    height: 450px;
    width: 400px;
    padding: 10px;
    border: #F2BB4F;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    transition: 2s ease;
   
  }

  .demo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .aboutapp{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738 ;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.25em;
   
  }

  .demo:hover .aboutapp{
    right: 0;
 }


.aboutapp p{
  padding: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgb(35, 35, 34);

}

  .aboutapp h3{
    padding-top: 10px;
   font-size: 30px;
   font-weight: 700;
   text-decoration: underline 2px;
   color: #ffffff;
  }

  #works{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 90px;

  }
  .work-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;  
    gap: 150px;
}

  .work-context{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 30px;
  }

  .work-context h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.125em;
    color: #575757;
  }

  .work-topic{
    border: 1px solid #F2BB4F;
    background-color: #F2BB4F;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 300px;
    padding: 20px;
  }
  .work-topic h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0.125em;
    margin: 1px 0;
  }

  .work-topic p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.125em;
    color: #575757;

  }

  .soft-skills{
    display: flex;
    flex-direction: column;

  }
  .soft-skill{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    gap: 30px;
    margin: 8px 0;
    
  }

  .soft-skill h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0.125em;
  }

  #about{
    padding-bottom: 90px;
  }
.aboutme{
   display: flex;
   flex-direction: column;
   flex-wrap: column wrap;
   align-items: center;
   justify-content: center;
   color: #FFFCF6;
   height: 400px;
   border: #198594;
   background-color: #198594;
   border-style: none;
   border-radius: 20px;
   box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
   margin: 30px;

}

.aboutme h2{
  font-size: 40px;
  letter-spacing: 0.125em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 10px 0;

}

  .about-text p{
   margin: 1px 0;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-family: 'Pavanam', sans-serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.25em;
  }

  #skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
  }

  #skills h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 500;
  letter-spacing: 0.125em;
  color: #575757;
  margin: 5px 0;
  }

  .skill-container{
    display:flex;
    flex-direction: row;
  
    align-items: center;
    justify-content: center;
    max-width:1050px;
    margin:0 auto; 
    gap: 90px;
  }

  #skills h3{
    font-family: 'Pavanam', sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.125em;
    color: #198594;
  }

  .skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 30vw;
    text-align: center;
  }

  .skill-item{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border: #F2BB4F; 
    border-style: solid;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 290px;
    height: 245px;
  }

  .skill-item p{

    list-style: none;
    margin: 1px 0;
    font-family: 'Pavanam', sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.175em;
    text-align:center;
    color: #575757;
  }


  #contact-head{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 500;
  letter-spacing: 0.125em;
  color: #8E8074;
  text-align: center;
  }

  .contactinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   border: 2px solid #F2BB4F;
   box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
   margin: 30px;
   border-radius: 20px;

  }

  .social-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 2.0em;
    
}

.social-list a{
   text-decoration: none;
   color: black;
}

  .contactinfo p{
    text-align: center;
  font-family: 'Pavanam', sans-serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.25em;
  padding-left: 30px;
  padding-right: 30px;
  color: #575757;

  }

  .footer-content{
    width: 100%;
  }

  .footer-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #198594;
}

.footer-items p{
  font-family: 'Pavanam', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.25em;
  color: #EFECE7;
}



@media screen and (max-width: 768px) {

  .nav-bar{
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-logo #logo{
  font-size: 25px;
}

.intro{
  max-width: 768px;
  gap: 5px;
}
.intro img{
  width: 415px;
  height: 400px;
}

.intro-text h1{
  font-size: 30px;
  letter-spacing: 0.125em;
}

.intro-text h2{
  font-size: 25px;
  letter-spacing: 0.25em;
}

.intro-text p{
  font-size: 20px;
  letter-spacing: 0.125em;
  padding-bottom: 10px;
}


#projects h2{
  font-size: 25px;
}

.project-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
    gap: 40px;
  }
  
  .project {
    padding: 30px;
  
  }

  .demo{
    height: 350px;
    width: 300px;
    padding: 10px;
   
  }


  .project:nth-child(3){
    flex-basis: 30%;

  }

  .project h3{
   font-size: 18px;
  }

  .project p{
    font-size: 14px;

   }


  .work-container{
    padding: 10px;  
    gap: 60px;
}

  .work-context{
    gap: 15px;
  }

  .work-context h2{
    font-size: 25px;
  }

  .work-topic{
    width: 200px;
    padding: 10px;
  }
  .work-topic h4{
    font-size: 18px;
  }

  .work-topic p{
    font-size: 14px;
  }

  .soft-skill{
    gap: 15px;
  }

  .soft-skill h4{
    font-size: 18px;
  }


.aboutme{
   height: 320px;
}

.aboutme h2{
  font-size: 25px;
}

  .about-text p{
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  }

  #skills h2{
    font-size: 25px;
  }

  .skill-container{
    flex-flow: row wrap;
    gap: 30px;
  }

  #skills h3{
    font-size: 20px;
  }

  .skill{
    padding: 20px;
  }

  .skill-item{
    box-sizing: border-box;
    width: 220px;
    height: 180px;
    padding: 20px;
  }

.skill:nth-child(1){
  flex-basis: 100%;
}


  .skill-item p{
    font-size: 18px;
    letter-spacing: 0.125em;
    margin: 1px 0;
    border-radius: 10px;
   
  }

   .contact{
    gap: 35px;
  }

  #contact-head{
    font-size: 25px;
  }


  .contactinfo p{

  font-size: 20px;
  letter-spacing: 0.125em;

  }

.footer-items p{
font-size: 16px;
}

.contactinfo img{
  width: 30px;
  height: 30px;
}

}






@media screen and (max-width: 480px) {

  #hamburger-menu{
    display: block;

  }

  .hamburger-btn {
    color: black;
    background-color: #FFFCF6;  
    border: none;
    padding: 10px;
    font-size: 25px;
    cursor:pointer;
  
 }

 .nav-links {
  margin: 2px 0;
  padding: 10px;
  top: 90px;
  right: 30px;
  display: none;
  background-color:#F2BB4F;
  color: #575757;
  position: absolute;
  font-family: 'Pavanam', sans-serif;
  font-weight: 400;
  letter-spacing: 0.25em;
  border-bottom-left-radius: 30px;
  
}
.nav-links a {
  display: block;
  color: #575757;
  text-decoration: none;
  text-align: right;
  padding-bottom: 5px;
  
}
.nav-links a:hover {

  color: #198594;
}


.nav-list{
  display: none;
}

.header{
  padding-bottom: 20px;
}
  .nav-bar{
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
}

.nav-logo #logo{
  font-size: 18px;
}

.intro{
  padding-left: 25px;
  padding-right: 25px;
  max-width: 480px ;
  padding-bottom: 50px;
}

.intro img{
  width: 215px;
  height: 190px;
}

.intro-text h1{
  font-size: 18px;
  letter-spacing: 0.125em;
}

.intro-text h1 span{
  font-size: 18px;
  letter-spacing: 0.125em;
}

.intro-text h2{
  font-size: 18px;
  letter-spacing: 0.125em;
}

.intro-text p{
  font-size: 14px;
  letter-spacing: 0.125em;
}

#projects{
  padding-bottom: 50px;
}

#projects h2{
  font-size: 18px;
}

#projects p{
  font-size: 12px;
}

.project-container {
  display:flex;
  flex-flow:column;
    max-width:480px;
    gap: 50px;
   
  }

  .project {

    padding: 10px;

  }

  .demo{
    height: 300px;
    width: 250px;
    padding: 10px;
   
  }

  .project h3{
   font-size: 16px;
   letter-spacing: 0.25em;
   text-decoration: 1px underline;
  }

  .work-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;  
    gap: 30px;
}

#works{
  padding-bottom: 50px;
}

  .work-context{
    gap: 10px;
  }

  .work-context h2{
    font-size: 18px;
  }

  .work-topic{
    width: 140px;
    padding: 10px;
  }
  .work-topic h4{
    font-size: 14px;
  }

  .work-topic p{
    font-size: 10px;
  }

  .soft-skill{
    gap: 10px;
  }

  .soft-skill img{
    height: 30px;
    width: 30px;
  }

  .soft-skill h4{
    font-size: 14px;
  }


.aboutme{
   height: 260px;
}

.aboutme h2{
  font-size: 18px;
}

  .about-text p{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  margin: 1px 0;
  }

  #skills{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #skills h2{
    font-size: 18px;
  }


  .skill-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  #skills h3{
    font-size: 16px;
    letter-spacing: 0.125em;
  }

  .skill-item{
    height: 140px;
    width: 160px;
    padding: 5px;
    
  }

  .skill-item p{
    margin: 1px 0;
    font-size: 14px;
    letter-spacing: 0.175em;
  }

   .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
  }

  #contact-head{
    font-size: 18px;
  }


.contactinfo p{

  font-size: 16px;
  letter-spacing: 0.125em;

  }

.contactinfo img{
  width: 22px;
  height: 22px;
}

.footer-items p{
  font-size: 10px;
  }
}
